## These are fake macros representing custom directives, used to get IntelliJ to stop warning about
## missing definitions.

#macro(imports)
    ## See io.github.michaelboyles.jerk.JavaImportsDirective
#end
